.frdRequests {
  margin-top: 10px;
  margin-bottom: 10px;
}

.frdRequests__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 7px;
  margin-bottom: 10px;
}

.frdRequests__heading__text > span {
  font-size: 17px;
  font-weight: 600;
  color: #65676b;
}

.frdRequests__heading__icons__link {
  color: #1a6ed8;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding: 4px 6px;
  border-radius: 7px;
}

.frdRequests__heading__icons__link:hover {
  background-color: #e4e6e9;
}

.frdRequests__heading__icons .MuiSvgIcon-root {
  font-size: 22px;
}
